@media (min-width:768px) {
  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .productContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  
  .imgsContainer {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    justify-content: center;
  }
  .photosContainer {
    display: flex;
    flex-direction: column;
    width: 65px;
    justify-content: center;
    align-items: center;
  }
  .sidePhotosContainer {
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  .sidePhotosContainer:hover {
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .bigImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
  }
  .bigImg {
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  .bigImgContainer:hover .bigImg {
    transform: scale(1.5);
  }
  .descriptionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .descriptionContainer h3 {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
  }
  .descriptionContainer h1 {
    margin: 0px;
  }
  .description {
    display: flex;
    justify-content: center;
    margin: 15px;
  }
  .sizeContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sizeDiv {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  .sizeDiv > * {
  }
  .sizeOption {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .sizeOptionSelected {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: aliceblue;
  }
  .sizeOption:hover {
    cursor: pointer;
    background-color: black;
    color: aliceblue;
  }
  .colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
  }
  .colorOptionSelected {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  
  .color {
    width: 30px;
    height: 30px;
    border: 0.5px solid rgba(128, 128, 128, 0.434);
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .color:hover {
    cursor: pointer;
  }
  .buttonBuy {
    width: 200px;
    margin: 20px;
    color: aliceblue;
    font-size: 1em;
    height: 30px;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(0, 0, 0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s all;
  }
  
  .buttonBuy:hover {
    cursor: pointer;
    background-color: rgba(137, 137, 137, 0.625);
    width: 200px;
    margin: 20px;
    height: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
  }
  .Select{
    width: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .SelectDiv{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
  }

  .imgsContainer {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 350px;
    justify-content: center;
  }
  .photosContainer {
    display: flex;
    flex-direction: column;
    width: 65px;
    justify-content: center;
    align-items: center;
  }
  .sidePhotosContainer {
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  .sidePhotosContainer:hover {
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .bigImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
  .bigImg {
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  .bigImgContainer:hover .bigImg {
    transform: scale(1.5);
  }
  .descriptionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .descriptionContainer h3{
    font-size: 1.5em;
  }
  .description {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    margin: 20px;
  }
  .colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
  }
  .colorOptionSelected {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  
  .color {
    width: 30px;
    height: 30px;
    border: 1.5px solid rgba(128, 128, 128, 0.434);
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .color:hover {
    cursor: pointer;
  }
  .sizeContainer {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .sizeDiv {
    display: flex;
    width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  .sizeDiv > * {
  }
  .sizeOption {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .sizeOptionSelected {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: aliceblue;
  }
  .sizeOption:hover {
    cursor: pointer;
    background-color: black;
    color: aliceblue;
  }
  .buttonBuy {
    width: 250px;
    margin: 20px;
    color: aliceblue;
    height: 60px;
    border-radius: 20px;
    border: 0px;
    font-size: 1.3em;
    background-color: rgb(0, 0, 0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s all;
  }
  .buttonBuy:hover {
    cursor: pointer;
    background-color: rgba(137, 137, 137, 0.625);
    width: 200px;
    margin: 20px;
    height: 60px;
    border-radius: 20px;
    border: 1px white solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
  }
  .Select{
    width: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 40px;
    color: #000;
    font-size: 1.3em;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .SelectDiv{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
