@media screen and (min-width: 768px) {
    .containerMenu{
        z-index: 1000;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      background-color: white;
    }
    .containerMenuNonHome{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        width: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 54%);
    }
    .containerImg{
        width: 200px;
        height: 100px;
        position:relative;
    }
    .ul{
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    .Liens{
        margin: 10px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
}
.active{
    margin: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
    .Liens:hover{
        margin: 10px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid rgb(0, 0, 0);
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
}
    .mobileMenu{
        display:none;
    }
    .menuIcon{
        display: none;
    }
    .numberMenu{
        position: absolute;
        top: -4px;
        right: 0px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        width: 15px;
        height: 15px;
        background-color: black;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
.numberMenu p{
    color: white;
    font-size: 0.7em;

}
}


@media screen and (max-width: 768px) {
.containerMenu{
display: flex;
flex-direction: column;
align-items: center;
height: 100px;
width: 100%;
top: 0px;
position: sticky;
z-index: 1000;
background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 54%);
}
.containerImg{
    margin-top: 15px;
    width: 150px;
    height: 80px;
    position:relative;
}
.menuIcon{
    width: 40px;
    height: 40px;
    display: none;
    position: absolute;
    z-index: 1002;
    top: 30px;
    right: 30px;
    transition: all 1s ease-in-out;
}
.ul{
    display: none;
}
.mobileMenu{
    position: absolute;
    width: 200px;
    z-index: 1001;
    top: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px 10px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.ulMobile{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.ulMobile li{
    list-style: none;
}
.ulMobile a{
    color: black;
    text-decoration: none;
}
.Liens{
    margin: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.active{
margin: 10px;
text-decoration: none;
color: black;
border-bottom: 1px solid rgb(0, 0, 0);
transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
}

}
