.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Container Form input{
    margin-right: 10px;
    margin-bottom: 10px;
    height: 35px;
    border: 0.5px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.Container Form input::placeholder{
    padding-left: 10px;
}