@media (max-width: 768px) {
    .container{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        overflow: hidden;
        justify-content: center;
    }
 .Bento1,  .Bento2, .Bento3{
display: flex;
flex-direction: column;
gap: 20px;
 }
.littleBentoHor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 200px;
    height: 190px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    
}
.littleBentoHor:hover{
    cursor: pointer;
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
.littleBentoHor h3{
    font-size: large;
    margin-left: 10px;
    color: white;
    text-decoration: none;

    z-index: 2;
    
}
.BigBentoVer{
    display: flex;
    position: relative;
    width: 200px;
    height: 500px;
    border-radius: 20px;
  
}
.MiddleBentoHor{
    display: flex;
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 20px;
}
.Img{
    z-index: 1;
    object-fit: cover;
    border-radius: 20px;
}
}
@media (min-width: 768px) {
    .container{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 850px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        overflow: hidden;
        justify-content: center;
    }
 .Bento1,  .Bento2, .Bento3{
display: flex;
flex-direction: column;
gap: 20px;
 }
.littleBentoHor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 280px;
    height: 190px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    
}
.littleBentoHor:hover{
    cursor: pointer;
    display: flex;
    position: relative;
    width: 280px;
    height: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
.littleBentoHor h3{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: large;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    z-index: 2;
    
}
.BigBentoVer h3{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: large;
    margin-left: 10px;
    text-decoration: none;

    color: white;
    z-index: 2;
    
}
.BigBentoVer{
    display: flex;
    position: relative;
    width: 280px;
    height: 500px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
  
}
.BigBentoVer:hover{
    height: 520px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.MiddleBentoHor{
    display: flex;
    position: relative;
    width: 280px;
    height: 300px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
.MiddleBentoHor:hover{
    height: 310px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.Img{
    z-index: 1;
    object-fit: cover;
    border-radius: 20px;
}

}
