@media (min-width:768px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .container h1{
        font-size: 2em;
    }
    
    .ButtonContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .nonActiveSpan {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      text-align: center;
      border-bottom: 3px solid rgba(0, 0, 0, 0);
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }
    .ButtonContainer span:hover {
        cursor: pointer;
        border-bottom: 3px solid black;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    .activeSpan {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        text-align: center;
        border-bottom: 3px solid rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    .ButtonDisc{
        display:flex ;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.266);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        width: 120px;
        height: 30px;
        text-align: center;
        transition: all 0.5S ease-in-out;
        -webkit-transition: all 0.5S ease-in-out;
        -moz-transition: all 0.5S ease-in-out;
        -ms-transition: all 0.5S ease-in-out;
        -o-transition: all 0.5S ease-in-out;
    }
    .ButtonDisc:hover{
        cursor: pointer;
        display:flex ;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px;
        background-color: rgba(0, 0, 0, 0.123);
        border: 1px solid rgba(128, 128, 128, 0.266);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        width: 120px;
        color: white;
        height: 30px;
        text-align: center;
        transition: all 0.5S ease-in-out;
        -webkit-transition: all 0.5S ease-in-out;
        -moz-transition: all 0.5S ease-in-out;
        -ms-transition: all 0.5S ease-in-out;
        -o-transition: all 0.5S ease-in-out;
    }
    
}
@media (max-width:768px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .container h1{
        font-size: 1em;
    }
    
    .ButtonContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .nonActiveSpan {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      text-align: center;
      border-bottom: 3px solid rgba(0, 0, 0, 0);
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }
    .ButtonContainer span:hover {
        cursor: pointer;
        border-bottom: 3px solid black;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    .activeSpan {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        text-align: center;
        border-bottom: 3px solid rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    .ButtonDisc{
        display:flex ;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.266);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        width: 120px;
        height: 30px;
        text-align: center;
        transition: all 0.5S ease-in-out;
        -webkit-transition: all 0.5S ease-in-out;
        -moz-transition: all 0.5S ease-in-out;
        -ms-transition: all 0.5S ease-in-out;
        -o-transition: all 0.5S ease-in-out;
    }
    .ButtonDisc:hover{
        cursor: pointer;
        display:flex ;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px;
        background-color: rgba(0, 0, 0, 0.123);
        border: 1px solid rgba(128, 128, 128, 0.266);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        width: 120px;
        color: white;
        height: 30px;
        text-align: center;
        transition: all 0.5S ease-in-out;
        -webkit-transition: all 0.5S ease-in-out;
        -moz-transition: all 0.5S ease-in-out;
        -ms-transition: all 0.5S ease-in-out;
        -o-transition: all 0.5S ease-in-out;
    }
    
}