@media (min-width:768px) {
    .Container{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.484);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.101);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.36);
        position: sticky;
        float:right;
        margin-right: 10px;
        z-index: 3000;
        border-radius: 20px;
        height: 300px;
        width: 45px;
        animation: anim 2s ease-in-out;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-animation: anim 2s ease-in-out;
    }
    .Container div{
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0);
        transition: all 1s ease-in-out;
    }
    .Container div:hover{
        cursor: pointer;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.673) 0px 5px 15px;
        border-radius: 20px;
      /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
        width: 50px;
        height: 50px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
    }
    @keyframes anim {
        0%{
            opacity: 0;
        }100%{
            opacity: 1;
            display: none;
        }
    }
    .ContainerNonex div{
        position: relative;
        width: 30px;
        height: 30px;
    }
    .ContainerNonex{
        display: none;
      
    }
    .length{
        bottom: 30px;
        left: 30px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: black;
        color: aliceblue;
        border-radius: 30px;
        position: absolute;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
    
}
@media (max-width:768px) {
    .Container{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.066);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        z-index: 3000;
        margin: auto;
        border-radius: 20px;
        height: 50px;
        width: 350px;
        animation: anim 2s ease-in-out;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-animation: anim 2s ease-in-out;
    }
    .Container div{
        position: relative;
        width: 40px;
        height: 40px;
        border: 2px solid rgba(255, 255, 255, 0);
        transition: all 1s ease-in-out;
    }
    .Container div:hover{
        cursor: pointer;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 2px solid rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        background-color: white;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
    }
    .length{
        bottom: 25px;
        right: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 15px;
        font-size: 0.8em;
        height: 15px;
        background-color: black;
        color: aliceblue;
        border-radius: 30px;
        position: absolute;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
    @keyframes anim {
        0%{
           
            
        }100%{
            opacity: 1;
            display: none;
        }
    }
    .ContainerNonex div{
        position: relative;
        width: 30px;
        height: 30px;
    }
    .ContainerNonex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.47);
        position: sticky;
        z-index: 3000;
        margin: auto;
        border: 2px solid black;
        border-radius: 20px;
        height: 45px;
        width: 300px;
        opacity: 0;
    }
    
}
