.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 100%;
height: 100%;
margin-bottom: 20px;
}
.ContainerProduct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.ImgContainer{
 position: relative;
 width: 320px;
 height: 300px;
}

.descriptContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: 100%;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.descriptContainer textarea{
    margin-bottom: 10px;
}
.buttonDownload{
    display: none;
}
.LabelbuttonDownload{
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(249, 249, 249);
    width: 130px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 1s ease-in-out;
}
.LabelbuttonDownload:hover{
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 130px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.buttonBuy{
    width: 130px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
    transition: all 1s ease;
}

.buttonBuy:hover{
    cursor: pointer;
    width: 130px;
    height: 30px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.containerColor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.colorBlack{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.colorBlack:hover{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: black;
    border: 1px solid gray;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.colorBlackActive{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: black;
    border: 3px solid blue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.colorWhite{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.colorWhite:hover{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(142, 142, 142);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.colorWhiteActive{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 3px solid blue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.sizeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sizeContainer select{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}